[Desktop Entry]
Type=Application
Name=Move window to telegram workspace
Comment=Move active window to special:upWin
Exec=/home/mirphi/.config/scripts/move-to-telegram.sh
Terminal=false
Categories=Utility;
