[Desktop Entry]
Type=Application
Name=Zapret
Exec=kitty sh -c "/home/mirphi/.config/scripts/start_zapret.sh"
Icon=/home/mirphi/Media/icons/settings.png
Terminal=false
Categories=Utility;
