[Desktop Entry]
Type=Application
Name=Random wallpaper
Exec=waypaper --random
Icon=/home/mirphi/Media/icons/wallpaper.png
Terminal=false
Categories=Utility;